* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}
body {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
img {
    border: 0;
    outline: 0;
    text-decoration: none;
}

.title{ 
    color: #000;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
}
.conteiner {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}
/* ---ACTIV__PROMO--- */
.activ__promo{
    background-image: url("img/promo_activ.png");
    height: 747px;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

/* ---HEADER--- */
.header{
    padding: 42px 0;
}
.header__logo {
    display: flex;
    max-width: 183px;
}
.header .conteiner{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.header__list{
    display: flex;
    column-gap: 40px;
}
.header__menu a{
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: none;
}
.header__item{
    list-style: none;
}
.divider {
    height: 1px;
    width: 100%;
    background: #BABBC5;
    margin: 0 auto;
    margin-bottom: 129px;
} 
/* ---PROMO--- */
.promo{
    text-align: center;
}
.promo__name{
    margin: 0 auto 31px;
    font-size: 64px;
    font-weight: 900;
    line-height: 75px;
    max-width: 1170px;
    text-transform: uppercase;
}
.promo__description{
    margin: 0 auto 80px;
    font-size: 24px;
    max-width: 1170px;
}

.info__button:hover {
    color: #E71414;
}

.promo__info-button:active {
    color: #fff;
    border-color: #FF4343;
    border: 4px 4px 30px 0px #FF4343;
}

.info__button {
    margin:0 auto 120px;
    padding: 28px 0;
    font-size: 24px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF4343;
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    width: 370px;
    height: 80px;
}