* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}
body {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
img {
    border: 0;
    outline: 0;
    text-decoration: none;
}

.title{ 
    color: #000;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
}

