* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$borderColor: #FF4343;
$color: #FFFFFF;
$laptop: 1024px;
$top: 767px;
$mobile: 320px;

@mixin fon($font-size, $line-height, $font-weight, $color ) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $color;
}

body,
html {
    height: 100%;
}

body {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

img {
    border: 0;
    outline: 0;
    text-decoration: none;
}

.title {
    @include fon(36px, 21px, 400, #000);
    text-transform: uppercase;
}

.conteiner {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: $mobile) {
        padding: 0 20px;
    }
}

// .divider {
//     height: 1px;
//     width: 100%;
//     background: #BABBC5;
//     margin: 0 auto;
//     margin-bottom: 129px;
// }

/* ---ACTIV__PROMO--- */
.activ__promo {
    background-image: url("../img/promo_activ.png");
    height: 747px;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    
    @media (max-width: $mobile){
    max-height: 575px;
    }
}

/* ---HEADER--- */
.header {
    padding: 37px 0;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #BABBC5;

    @media (max-width: $mobile) {
        padding: 19px 35px 20px 19px;
        border: none;
    }

    &__logo {
        display: flex;
        max-width: 183px;

        @media (max-width: $laptop) {
            max-width: 180px;
        }

        @media (max-width: $mobile) {
            max-height: 14px;

            & img {
                max-width: 103px;
            }
        }
    }

    & .conteiner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__list {
        display: flex;
        column-gap: 38px;

        @media (max-width: $laptop) {
            column-gap: 25px;
        }

        @media (max-width: $top) {}
    }

    &__list {
        @media (max-width: $top) {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 100%;
        width: 100%;
        top: -100%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        background-color: #151515;
        padding-top: 60px;
        transition: top 0.3s ease-in-out;
        }
    }

    &__menu a {
        @include fon(13px, 15px, 700, $color);
        text-decoration: none;
        text-transform: uppercase;

        @media (max-width: $laptop) {
            @include fon(12px, 12px, 700, $color);
        }

        @media (max-width: $mobile) {
            @include fon(13px, 13px, 700, $color);
        }
    }

    &__item {
        list-style: none;
    }

    &__burger {
        background-image: url(../img/menu.svg);
        display: none;

        @media (max-width: $top) {
            display: block;
            width: 38px;
            height: 42px;
        }
        
        &:active .header__list{
            top:0;
        }
    }
}

/* ---PROMO--- */
.promo {
    text-align: center;
    padding-top: 230px;

    @media (max-width: $laptop) {
        padding: 157px 0 126px;
    }

    @media (max-width: $mobile) {
        padding: 50px 20px 52px;
    }

    &__name {
        margin: 0 auto 31px;
        max-width: 1170px;
        text-transform: uppercase;
        @include fon(64px, 75px, 900, $color);

        @media (max-width: $laptop) {
            @include fon(48px, 56px, 900, $color);
            margin-bottom: 61px;
        }

        @media (max-width: $mobile) {
            @include fon(36px, 42px, 900, $color);
            margin-bottom: 40px;
        }
    }

    &__description {
        margin: 0 auto 80px;
        font-size: 24px;
        max-width: 1170px;

        @media (max-width: $laptop) {
            font-size: 18px;
            margin-bottom: 89px;
        }

        @media (max-width: $mobile) {
            @include fon(14px, 16px, 400, $color);
            margin-bottom: 59px;
        }
    }
}

.promo__info-button:active {
    color: #fff;
    border-color: $borderColor;
    border: 4px 4px 30px 0px $borderColor;
}

.info__button {
    margin: 0 auto 120px;
    padding: 28px 0;
    text-decoration: none;
    background-color: $borderColor;
    display: block;
    text-transform: uppercase;
    width: 370px;
    height: 80px;
    @include fon(24px, 21px, 900, $color);

    @media (max-width: $laptop) {
        width: 314px;
    }

    @media (max-width: $mobile) {
        @include fon(24px, 28px, 900, $color);

        width: 280px;
        height: 58px;
        padding: 16px 0;
        margin-bottom: 52px;
    }

    &:hover {
        background-color: #E71414;
    }

    &:active {

        box-shadow: 4px 4px 30px 0px $borderColor;
    }
}