@import "key.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$borderColor: #FF4343;
$laptop: 1024px;
$top: 767px;
$mobile: 320px;

@mixin fon($font-size, $line-height, $font-weight, $color ) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $color;
}

body,
html {
    height: 100%;
}

body {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

img {
    border: 0;
    outline: 0;
    text-decoration: none;
}

.conteiner {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/*---PHOTOS---*/
.photos {
    text-align: center;

    & .conteiner {
        padding: 0;
        max-width: 1510px;
        margin: 0 auto;
    }
}

.photos .conteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;

    @media (max-width:$top) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
    }
}

.photo {
    position: relative;
    aspect-ratio: 380/340;
    overflow: hidden;

    @media (max-width:$laptop) {
        aspect-ratio: 257/230;
    }

    &:hover {
        .photo__img {
            animation: kenburns-left 5s ease-out both;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        top: 0;
        left: 0;
        padding-top: 126px;
        background-color: $borderColor;
        transition: 0.6s ease-out;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            background-color: rgba(185, 12, 12, 0.8);
        }

        @media (max-width:$laptop) {
            padding: 84px 0 86px;
        }

        @media (max-width:$top) {
            padding: 49px 9px 74px;
        }
    }

    &__title {
        margin-bottom: 36px;
        @include fon(18px, 21px, 900, #FFFFFF);
        text-transform: Uppercase;

        @media (max-width:$laptop) {
            margin-bottom: 22px;
        }

        @media (max-width:$top) {
            margin-bottom: 7px;
        }
    }

    &__description {
        @include fon(14px, 16px, 400, #FFFFFF);
    }

}

/*---TEAM---*/

.team {
    padding: 114px 0;

    @media (max-width:$laptop) {
        padding: 78px 0;
    }

    @media (max-width:$top) {
        padding: 35px 0;
    }
}

.team .conteiner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media (max-width:$laptop) {
        gap: 25px;
    }

    @media (max-width:$top) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.member {
    &__photo {
        height: 100%;
        width: 100%;
        overflow: hidden;
        object-fit: contain;
    }

    &__wrapper-photo {
        aspect-ratio: 270/270;
        margin-bottom: 30px;

        @media (max-width:$laptop) {
            aspect-ratio: 227/227;
            margin-bottom: 25px;
        }
    }

    &__name {
        margin-bottom: 5px;
        @include fon(25px, 28px, 700, rgba(45, 48, 51, 1));

        @media (max-width:$laptop) {
            margin-bottom: 4px;
            @include fon(18px, 21px, 700, rgba(45, 48, 51, 1));
        }
    }

    &__position {
        margin-bottom: 17px;
        text-transform: uppercase;
        @include fon(18px, 21px, 400, rgba(255, 67, 67, 1));

        @media (max-width:$laptop) {
            margin-bottom: 22px;
            @include fon(14px, 16px, 400, rgba(255, 67, 67, 1));
        }

        @media (max-width:$top) {
            margin-bottom: 38px;
        }
    }

    &__description {
        margin-bottom: 38px;
        @include fon(18px, 21px, 400, rgba(108, 114, 121, 1));

        @media (max-width:$laptop) {
            margin-bottom: 39px;
        }

        @media (max-width:$top) {
            margin-bottom: 55px;
        }
    }
}

.links {
    display: flex;
    gap: 5px;

    @media (max-width:$laptop) {
        gap: 4px;
    }

    @media (max-width:$top) {
        gap: 5px;
    }
}

.link {
    border: 1px solid rgba(198, 203, 205, 1);
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        border: 1px solid rgba(255, 67, 67, 1);
        transition: all 0.3 linear;
    }

    &:active {
        transition: all 0.3 linear;

        path {
            fill: rgba(255, 67, 67, 1);
        }

        &:active svg {
            animation: wow 3s linear infinite;
        }
    }

    @media (max-width:$laptop) {
        width: 32px;
        height: 32px;
    }

    @media (max-width:$top) {
        width: 39px;
        height: 39px;
    }

    @keyframes wow {
        0% {
            width: 100%;
            height: 100%;
        }

        25% {
            width: 75%;
            height: 75%;
        }

        50% {
            width: 50%;
            height: 50%;
        }

        75% {
            width: 75%;
            height: 75%;
        }

        100% {
            width: 100%;
            height: 100%;
        }
    }
}