@import "key.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

img {
  border: 0;
  outline: 0;
  text-decoration: none;
}

.conteiner {
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.features {
  text-align: center;
  padding: 78px 0 80px;
}
.features .conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  row-gap: 88px;
}
@media (max-width: 1024px) {
  .features .conteiner {
    gap: 20px;
    row-gap: 50px;
  }
}
@media (max-width: 767px) {
  .features .conteiner {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 42px;
  }
}
@media (max-width: 767px) {
  .features {
    padding: 40px 0 35px;
  }
}

.feature__wrapper {
  margin: 0 auto 55px;
  width: 100px;
  height: 100px;
}
@media (max-width: 1024px) {
  .feature__wrapper {
    margin-bottom: 43px;
    width: 85px;
    height: 85px;
  }
}
@media (max-width: 767px) {
  .feature__wrapper {
    margin-bottom: 37px;
    width: 75px;
    height: 75px;
  }
}
.feature__img {
  height: 100%;
  width: 100%;
}
.feature__title {
  padding-bottom: 23px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: rgb(45, 48, 51);
  text-transform: Uppercase;
}
@media (max-width: 1024px) {
  .feature__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    color: rgb(45, 48, 51);
  }
}
@media (max-width: 767px) {
  .feature__title {
    padding-bottom: 9px;
  }
}
.feature__description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #2D3033;
}
@media (max-width: 1024px) {
  .feature__description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #2D3033;
  }
}
@media (max-width: 767px) {
  .feature__description {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #2D3033;
  }
/*---PHOTOS---*/
.photos {
  text-align: center;
}
.photos .conteiner {
  padding: 0;
  max-width: 1510px;
  margin: 0 auto;
}

.photos .conteiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}
@media (max-width: 767px) {
  .photos .conteiner {
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
}

.photo {
  position: relative;
  aspect-ratio: 380/340;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .photo {
    aspect-ratio: 257/230;
  }
}
.photo:hover .photo__img {
  animation: kenburns-left 5s ease-out both;
}
.photo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photo__content {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  padding-top: 126px;
  background-color: #FF4343;
  transition: 0.6s ease-out;
}
.photo__content:hover {
  opacity: 0.8;
}
.photo__content:active {
  background-color: rgba(185, 12, 12, 0.8);
}
@media (max-width: 1024px) {
  .photo__content {
    padding: 84px 0 86px;
  }
}
@media (max-width: 767px) {
  .photo__content {
    padding: 49px 9px 74px;
  }
}
.photo__title {
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 900;
  color: #FFFFFF;
  text-transform: Uppercase;
}
@media (max-width: 1024px) {
  .photo__title {
    margin-bottom: 22px;
  }
}
@media (max-width: 767px) {
  .photo__title {
    margin-bottom: 7px;
  }
}
.photo__description {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

/*---TEAM---*/
.team {
  padding: 114px 0;
}
@media (max-width: 1024px) {
  .team {
    padding: 78px 0;
  }
}
@media (max-width: 767px) {
  .team {
    padding: 35px 0;
  }
}

.team .conteiner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 1024px) {
  .team .conteiner {
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .team .conteiner {
    grid-template-columns: repeat(1, 1fr);
  }
}

.member__photo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}
.member__wrapper-photo {
  aspect-ratio: 270/270;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .member__wrapper-photo {
    aspect-ratio: 227/227;
    margin-bottom: 25px;
  }
}
.member__name {
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 28px;
  font-weight: 700;
  color: rgb(45, 48, 51);
}
@media (max-width: 1024px) {
  .member__name {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: rgb(45, 48, 51);
  }
}
.member__position {
  margin-bottom: 17px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(255, 67, 67);
}
@media (max-width: 1024px) {
  .member__position {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(255, 67, 67);
  }
}
@media (max-width: 767px) {
  .member__position {
    margin-bottom: 38px;
  }
}
.member__description {
  margin-bottom: 38px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(108, 114, 121);
}
@media (max-width: 1024px) {
  .member__description {
    margin-bottom: 39px;
  }
}
@media (max-width: 767px) {
  .member__description {
    margin-bottom: 55px;
  }
}

.links {
  display: flex;
  gap: 5px;
}
@media (max-width: 1024px) {
  .links {
    gap: 4px;
  }
}
@media (max-width: 767px) {
  .links {
    gap: 5px;
  }
}

.link {
  border: 1px solid rgb(198, 203, 205);
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link:hover {
  border: 1px solid rgb(255, 67, 67);
  transition: all 0.3 linear;
}
.link:active {
  transition: all 0.3 linear;
}
.link:active path {
  fill: rgb(255, 67, 67);
}
.link:active:active svg {
  animation: wow 3s linear infinite;
}
@media (max-width: 1024px) {
  .link {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 767px) {
  .link {
    width: 39px;
    height: 39px;
  }
}
@keyframes wow {
  0% {
    width: 100%;
    height: 100%;
  }
  25% {
    width: 75%;
    height: 75%;
  }
  50% {
    width: 50%;
    height: 50%;
  }
  75% {
    width: 75%;
    height: 75%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
.title {
  font-size: 36px;
  line-height: 21px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}

.conteiner {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 320px) {
  .conteiner {
    padding: 0 20px;
  }
}

/* ---ACTIV__PROMO--- */
.activ__promo {
  background-image: url("../img/promo_activ.png");
  height: 747px;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}
@media (max-width: 320px) {
  .activ__promo {
    max-height: 575px;
  }
}

/* ---HEADER--- */
.header {
  padding: 37px 0;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #BABBC5;
}
@media (max-width: 320px) {
  .header {
    padding: 19px 35px 20px 19px;
    border: none;
  }
}
.header__logo {
  display: flex;
  max-width: 183px;
}
@media (max-width: 1024px) {
  .header__logo {
    max-width: 180px;
  }
}
@media (max-width: 320px) {
  .header__logo {
    max-height: 14px;
  }
  .header__logo img {
    max-width: 103px;
  }
}
.header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__list {
  display: flex;
  -moz-column-gap: 38px;
       column-gap: 38px;
}
@media (max-width: 1024px) {
  .header__list {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 767px) {
  .header__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: #151515;
    padding-top: 60px;
    transition: top 0.3s ease-in-out;
  }
}
.header__menu a {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .header__menu a {
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    color: #FFFFFF;
  }
}
@media (max-width: 320px) {
  .header__menu a {
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    color: #FFFFFF;
  }
}
.header__item {
  list-style: none;
}
.header__burger {
  background-image: url(../img/menu.svg);
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    width: 38px;
    height: 42px;
  }
}
.header__burger:active .header__list {
  top: 0;
}

/* ---PROMO--- */
.promo {
  text-align: center;
  padding-top: 230px;
}
@media (max-width: 1024px) {
  .promo {
    padding: 157px 0 126px;
  }
}
@media (max-width: 320px) {
  .promo {
    padding: 50px 20px 52px;
  }
}
.promo__name {
  margin: 0 auto 31px;
  max-width: 1170px;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .promo__name {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 61px;
  }
}
@media (max-width: 320px) {
  .promo__name {
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 40px;
  }
}
.promo__description {
  margin: 0 auto 80px;
  font-size: 24px;
  max-width: 1170px;
}
@media (max-width: 1024px) {
  .promo__description {
    font-size: 18px;
    margin-bottom: 89px;
  }
}
@media (max-width: 320px) {
  .promo__description {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 59px;
  }
}

.promo__info-button:active {
  color: #fff;
  border-color: #FF4343;
  border: 4px 4px 30px 0px #FF4343;
}

.info__button {
  margin: 0 auto 120px;
  padding: 28px 0;
  text-decoration: none;
  background-color: #FF4343;
  display: block;
  text-transform: uppercase;
  width: 370px;
  height: 80px;
  font-size: 24px;
  line-height: 21px;
  font-weight: 900;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .info__button {
    width: 314px;
  }
}
@media (max-width: 320px) {
  .info__button {
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    color: #FFFFFF;
    width: 280px;
    height: 58px;
    padding: 16px 0;
    margin-bottom: 52px;
  }
}
.info__button:hover {
  background-color: #E71414;
}
.info__button:active {
  box-shadow: 4px 4px 30px 0px #FF4343;
}/*# sourceMappingURL=ctyleActiv.css.map */